.description-container {
    color: #6D7973;
    font-weight: bold;
    font-size: 15px;  
    width: 360px;
}

.backButton {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
    margin-top: 20px;
    color: #FFFFFF; 
    background-color: #1B676B;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
}

.centralize-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}