/** @format */

.input-container-style {
  margin: 0;
}

.input-style {
  border-radius: 5px;
  height: 30px;
  width: 350px;
  border-width: 1px;
  border-style: solid;
  border-color: #88c425;
  position: relative;
  text-indent: 5px;
  padding-right: 1rem;
}

.label-style {
  font-size: 18px;
  font-weight: bold;
  color: #1b676b;
}

/*Ajustar isso aqui depois (principalmente esse processo de position e o tamanho dele)*/
.button-style {
  align-items: center;
  margin-left: 310px;
  margin-top: 10px;
  border: 0px;
  border-radius: 10px;
  background-color: transparent;
  width: 60px;
  position: absolute;
  cursor: pointer;
}

.input-group {
  display: flex;
}

.unit-select-style {
  border-radius: 5px;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: #88c425;
  margin: 5px;
  padding: 0 8px;
  color: #333;
  background-color: white;
  cursor: pointer;
}

.unit-select-style:focus {
  outline-color: #88c425;
}

.input-group-select label {
  margin-right: 8px;
  white-space: nowrap;
}

.unit-select-style option {
  padding: 8px;
  background-color: white;
  color: #333;
}

@media (max-width: 750px) {
  .input-group > div:first-child {
    width: 80%;
  }
  .input-style {
    width: 90%;
  }

  .label-style {
    font-size: 16px;
    width: 100%;
  }
}
