.button-initial-style {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
    margin-top: 20px;
    color: #FFFFFF; 
    width: 360px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
}

.green-bg {
    background-color: #88C425;
}

.darkGreen-bg {
    background-color: #1B676B;
}