.form-style {
    font-family: "Roboto";
    margin: 10px;
}

.input-style {
    border-radius: 5px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #88C425;
}

.label-style {
    font-size: 18px;
    font-weight: bold;
    color: #1B676B;
}