.loginPage-container {
    font-family: "Roboto";
    background-color: white;
    color: #1B676B;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    max-height: 600px;
    max-width: 600px;
    width: 600px;

    height: 100%;
    padding: 60px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
}

.bottom-paragraph-login-elements {
    /*Estou repetindo essa parte, pois não sei dizer o motivo de ter deixado de estar centralizado, ajustar o CSS depois para não ter que repetir :) */
    text-align: center;
    margin-top: 20px;
}


.register-text {
    color: #88C425;
    margin-top: 20px;
}

html, body {
    height: 100%;
    margin: 0; 
  }
  
  .login-bg {
    background-color: #EAFDE6;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }